<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: cursive;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #nav{
            background-color: rgb(131, 63, 15);
            padding: 10px 20px;
            margin-bottom: 20px;
        }
       #nav a{
            text-decoration: none;
            color: white;
            font-weight: 700;
        }
        .main-box{
            display: flex;
            flex-wrap: wrap;
        }
        #profile{
            max-width: 30%;
        }
    </style>
</head>
<body>
    <div id="nav">
        <div style="display: flex; justify-content: space-around;">
            <a href="/recipe/homepage">Home</a>
            <a href="/recipe/recipeform">Add recipe</a>
            <a href="/recipe/userrecipepage">Your Recipes</a>
            <a href="/user/login">Login</a>
            <a href="/user/signup">Signup</a>
            <a href="/user/profile">Profile</a>
        </div>
    </div>

 
</body>

</html>